body {
    background:rgb(206, 205, 205);
    margin-left: 200px;
    margin-right: 200px
}

header {
    margin-top: 70px;
}

h1, h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.img_logo {
    width: 30px;
}

.img_parceiros {
    width: 130px;
}